html, body {
	height: 100%;
}

body {
	background: black;
	display: flex;
	&, > * {
		margin: auto;
	}
}

main {
	position: relative;
	display: flex;
	overflow: hidden;
	font-size: calc(100vw / 256);
	image-rendering: pixelated;
}

.actor {
	position: absolute;
	z-index: 1;
}

@media (min-aspect-ratio: 16 / 15) {
	main {
		font-size: calc(100vh / 240);
	}
}
